body{
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
/* NavBar */
    .navbar{
        position:sticky;
        top:0;
        justify-content: right;
        z-index: 100;
        background-color: black;
        transition: 1s;
    }
    .navbar:hover{

        transition: 1s;
    }
    .navButton{
        cursor:pointer;
        font-size:1.2vw;
        color:darkgrey;
        padding:0.2vw;
        transition:0.5s;
        margin-right: 1vw;
        text-decoration: none;
    }
    .navButton.brand{
        position:absolute;
        color:red;
        margin-left:2vw;
        left:0;
    }
    .navButton:hover{
        color:#fff;
        border-color:#fff;
        transition:0.5s;
        transform:scale(130%);
    }
/* Footer */
    .footerHome{
        background-color: black;
        width: 100%;
        margin-top: 4vw;
        height: fit-content;
        text-align: center;
    }
    .footerNotHome{
        background-color: black;
        position: absolute;
        bottom:0;
        width: 100%;
        height: fit-content;
        text-align: center;
    }
    .footerGrid{
        color:white;
        display:grid;
        grid-template-columns: 5vw 5vw 5vw 5vw 5vw 5vw  ;
        justify-content: center;
        padding:1vw;
    }
    .footerTitle{
        color:#fff;
        font-size: 3vw;
        text-decoration: none;
        transition:0.5s;
    }
    .footerTitle:hover{
        transition:0.4s;
        color:rgb(221, 136, 24);
        font-size:3.2vw;      
    }
    .footerIcon{
        height: 2vw;
        width: 2vw;
        color:#fff;
        transition:1s;
    }
    .footerIcon:hover{
        transition:0.4s;
        transform:scale(120%);
        color:rgb(221, 136, 24);
    }

/* Home Page */
.HomePageWrapper{
    display:grid;
    margin-top: 3vw;
    grid-template-columns: auto;
    justify-content:space-evenly;
}
    /* Youtube Video Section */
    .YoutubeVideo{
        margin:auto;
    }
    /* Introduction Section*/
    .Introduction{
        margin-top: 3vw;
        margin-left: 3vw;
        margin-right: 3vw;
    }
    .introTitle{
        font-size: 4vw;
        color:rgb(221, 136, 24);
        display: inline-block;
    }
    .introText{
        color:#fff;
        font-size: 1.5vw;
    }
    /* Links Section */
    .Links{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        margin-top: 4vw;
    }
    .linksButton{
        position: relative;
        cursor: pointer;
        text-align: center;
        border-radius: 07px 07px 07px 07px;
        width:40vw;
        height: 3vw;
        margin-bottom: 1vw;
        background-color: rgb(221, 136, 24);
        text-decoration: none;
        transition:0.5s;
    }
    .linksButton:hover{
        transition:0.4s;
        transform:scale(110%);
        border:solid;
        border-color:#000;
    }
    .linksButtonIcon{
        position:absolute;
        color:white;
        font-size: 1vw;
        left:5%;
        top:50%;
        transform:translate(-50%,-50%);
    }
    .linksButtonText{
        position:absolute;
        color:white;
        font-size: 1vw;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    }
    /* NavLinks Section */
    .NavLinks{
        position:relative;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        margin-top: 5vw;
        margin-bottom: 4vw;
    }
    .NavLink{
        height:15vw;
        width: 15vw;
        text-decoration: none;
        text-align: center;
    }
    .NavLinkIcon{
        color:black;
        width: 15vw;
        height: 15vw;
        transition:0.5s;
    }
    .NavLinkTitle{
        font-size: 1.5vw;
        color:#fff;
    }
    .NavLinkIcon:hover{
        opacity:0.7;
        transform:scale(110%);
        transition:0.5s;
    }

/* Nav Pages */
.NavPageWrapper{
    display:grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    margin-top: 5vw;
}
.goBackHome{
    text-decoration: none;
    text-align: center;
    margin-bottom: 1vw;
    color:#fff;
    transition:0.5s;
}
.goBackHome:hover{
    transition: 1s;
    transform: scale(110%);
    color:#000;
}
